body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
section{
    display:flex;
    margin-bottom:100px;
}
.half-width{
    justify-content:center;
    margin:20px 80px ;

    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
    height: 700px;

}
.link-button{
    text-decoration: none;
    background-color:orange;
    background-image: linear-gradient(orange tomato);

    padding:10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;

}
.shape{
    background-image: url(images/shapes/Frame\ 57.jpg);
    
    background-position: 100%;
}
.flexible-container{
    display: flex;
    margin-bottom:150px;
}
.Recipies-Item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:10px;
    border-radius: 10px;
    box-shadow:10px 10px 10ox gray;
    border: 1px solid
}.Recipies-area{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
